.reel-card {
  margin: 33px auto;
  max-width: 33%;
  min-width: 300px;
  height: 100%;
  max-height: calc(100% - 70px);
  min-height: calc(100% - 80px);
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px 9px #dedede;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.reel-card-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, .35) 0, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, .35) 100%);

}

.reel-card-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.reel-card .description {
  z-index: 2;
  position: relative;
  width: 100%;
  height: max-content;
  padding: 20px;
  color: #fff;
  line-height: 1.2;
  font-size: 18px;
  cursor: pointer;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(180deg, rgba(0, 0, 0, .35) 0, rgba(0, 0, 0, 0));
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: 2px solid #dedede;
}

.reel-card .description.card-bottom {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0, rgb(0 0 0 / 52%) 80%, rgba(0, 0, 0, 0));
  transition: 300ms ease;
  height: 65px;
  user-select: none;
  overflow: hidden;
}
.reel-card .description.card-bottom.open {
  height: 120px;
  overflow-y: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.0));
}

.reel-card .description.card-bottom.open::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width:768px) {
  .reel-card {
    max-width: calc(100% - 0px);
    max-height: calc(100% - 0px);
    margin: 0;
    border-radius: 0px;
  }
}